<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>company</title>
</head>

<body>
    <div>
        <form method="post">
            <h1>REGISTER COMPANY</h1>

            <label>COMPANY NAME:</label><br>
            <input type="text" name="c_one" id="company_name"><br><br>

            <label>PHONE NUMBER:</label><br>
            <input type="text" name="c_two" id="company_phone_number"><br><br>
            <br>
            <input type="submit" value="CREATE COMPANY">
        </form><br><br>
        <form action="/profile">
            <input value="Go back to profile." type="submit">
        </form>
    </div>
</body>

</html>