<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <label>USERNAME</label><br>
            <input name="username" type="text" placeholder="write your username"><br><br>

            <label>PASSWORD</label><br>
            <input name="password" type="password" placeholder="write your password"><br><br>

            <input type="submit" value="LOGIN">
        </form>
    </div>
    <br>
    <div>
        <form action="/register">
            <label>Are you new here?</label>
            <input value="register" type="submit">
        </form>

    </div>
</body>

</html>