<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>

<body>
    <div>
        <form method="post">
            <label>NAME:</label><br>
            <input type="text" name="zero" id="name"><br><br>

            <label>USERNAME:</label><br>
            <input type="text" name="one" id="username"><br><br>

            <label>EMAIL:</label><br>
            <input type="email" name="two" id="email"><br><br>

            <label>PASSWORD:</label><br>
            <input type="password" name="three" id="password"><br><br>

            <label>PHONE NUMBER:</label><br>
            <input type="text" name="four" id="phone"><br><br>

            <input type="submit" value="CREATE USER">

        </form>
    </div>
</body>

</html>