<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>

<body>
    <div>
        <form action="/project" method="post">
            <h1>PROFILE</h1>
            <form action="/project">
                <label>Do you want to create a project?</label>
                <input value="create project" type="submit">
            </form><br>
            <form action="/company">
                <label>Do you want to register a company?</label>
                <input value="register company" type="submit">
            </form><br>
            <form action="/">
                <input value="logout" name="logout" type="submit">
            </form>
        </form>
    </div>
</body>

</html>