<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title>project</title>
</head>

<body>
    <div>
        <form method="post">
            <h1>CREATE PROJECT</h1>

            <label>PROJECT NAME:</label><br>
            <input type="text" name="p_one" id="project_name"><br><br>

            <label>PROJECT START DATE:</label><br>
            <input type="date" name="p_two" id="project_start_date"><br><br>

            <label>PROJECT DEADLINE:</label><br>
            <input type="date" name="p_three" id="project_deadline"><br><br>
            <!--
            <label>PROJECT COMPANY:</label><br>
            <input type="text" name="p_four" id="project_company"><br><br>

            <label>PROJECT MANAGER:</label><br>
            <input type="text" name="p_five" id="project_manager"><br><br>
            -->
            <br>

            <input type="submit" value="CREATE PROJECT">
        </form><br><br>
        <form action="/profile">
            <input value="Go back to profile." type="submit">
        </form>
    </div>
</body>

</html>